* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    all: unset;
    cursor: pointer;
    transition: all .15s ease-out;
    user-select: none;
}

ul {
    all: unset;
    display: block;
    padding: .25rem;
    list-style: none;
}