.tag {
    user-select: none;
    cursor: grab;
    font-size: 1.7rem;
    background: #000;
    color: #fff;
    border-radius: 1rem;
    padding: .35rem .5rem;
    margin: .75rem 0;
}

.title {
    font-family: 'ZeroCool';
    font-size: 2.75rem;
    display: inline;
}

.topWeekImage {
    outline: 3px solid #000;
    border-bottom: 3px solid #000;
    border-radius: 1rem;
    cursor: pointer;
    transition: .35s ease-out;

    &:hover {
        scale: 1.05;
    }

    width: 100%;
    margin: 2rem 0;
}