.chatLink {
    border: 2px solid #000;
    display: grid;
    grid-template-columns: 1fr 7rem;
    grid-template-rows: 2rem 2.5rem;
    padding: .4rem;
    cursor: pointer;
}

.title {
    font-size: 2rem;
}

.removeButton {
    grid-column-start: 2;
    grid-row-start: 1;
}