a {
    all: unset;
    cursor: pointer;
    transition: all .15s ease-out;
    user-select: none;
}

a:hover {
    color: #ccc;    
}

ul {
    all: unset;
    display: block;
    padding: .25rem;
    list-style: none;
}